$use: "app.scss";
$primary-color: $color-pallete-1;
$secondary-color: white;
$tertiary-color: $color-pallete-3;
body {
  background-color: $color-pallete-1;
}
.box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}
.box {
  border: solid;
  background-color: white;
  // width: 500px;
  // height: 500px;
  padding: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
}

h1 {
  color: $primary-color;
}

h5 {
  color: $color-pallete-1;
}
.foot-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  // padding:10px;
  justify-content: space-evenly;
}
