.stats-btn-container {
  padding: 10px;
  position: absolute;
  top: 80px;
  left: 30%;
  // display: flex;
  // flex-direction: row;
  // justify-content: center;
  // align-items: center;
}
.user-stats-container {
  border: solid;
  border-color: black;
  height: max-content;
  padding: 25px;
}
.user-stats {
  font-size: small;
  color: brown;
}
.device-stats-container {
  border: solid;
  border-color: black;
  height: max-content;
  padding: 25px;
}
.device-stats {
  font-size: small;
  color: brown;
}
.hackerlist-user-icon {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}
.hackerlist-user {
  display: flex;
  flex-direction: row;
  align-items: center;
}
